.layer1 {
    background-color: red;
}

.layer2 {
    background-color: blue;
}

.layer3 {
    background-color: green;
}

.layer4 {
    background-color: black;
}

.layer5 {
    background-color: yellow;
}

.layer6 {
    background-color: gray;
}